<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Administrador</title>
	<meta name="description" content="kleith web site" />
	<meta name="keywords" content="html, css, js, php" />
        <!-- Le styles -->
<link href="css/styles.css" media="screen" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.js" integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=" crossorigin="anonymous"></script>

<style>
.ui-tooltip {
	padding: 10px 20px;
	color: black;
	background-color:white;
	width: 200px;
	text-align:center;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}
</style>
</head>
<body>
<div id="container">
	<div id="content">
		<div class="w-content">
		  <div class="w-section"></div>
			<div id="m-status" style="margin-bottom: 300px">
					<form id="activeform" method="POST" action="#" th:action="@{/data}" th:object="${data}" enctype="multipart/form-data">
						<table id="tablelist" class="full">
							<tbody>
								<tr style="background-color: #bee2be;">
								  <td><b>Ambiente</b></td><td>
								  		<select th:field="*{ambienteId}">
								  		<option th:value="test" th:text="Desarrollo"></option>
								  		<option th:value="prod" th:text="Produccion"></option>
								  		</select>
								  </td>
								</tr>
								<tr style="background: gray;">
									<td><b>Datos Decidir</b></td>
									<td></td>
								</tr>
								<tr>
							  	   <td><b>Public Key</b></td><td><input type="text" th:field="*{decPublicKey}"></input>
							  	   <div class="description">ejemplo: 41cbc74acc604a109157bb8394561d27</div>
							  	</td>
							  	</tr>
								<tr>
							  	   <td><b>Private Key</b></td><td><input type="text" th:field="*{decPrivateKey}"></input>
							  	   <div class="description">ejemplo: 1fb6dc55c0a1489db411a8ee8f9c9707</div>
							  	</td>
							  	</tr>
								<tr>
								  <td><b>Currency</b></td><td><input type="text" th:field="*{currency}" ></input></td>
								</tr>
								<tr>
								  <td><b>User Id</b></td><td><input type="text" th:field="*{userId}"></input></td>
								</tr>
								<tr>
								  <td><b>User mail</b></td><td><input type="text" th:field="*{userMail}"></input></td>
								</tr>
								<tr>
								  <td><b>Medio Pago</b></td><td>
								  		<select th:field="*{paymentMethod}">
								  			<option value="1">VISA</option>
								  			<option value="6" >AMEX</option>
								  			<option value="15" >MASTERCARD</option>
								  		</select>
								  </td>
								</tr>
								<tr>
								  <td>
								  	<b>Bin</b></td><td><input type="text" th:field="*{bin}" value="450799"></input>
								  	<div class="clear">
							  	   		<div class="description">Primeros seis numeros de la tarjeta</div>
							  	   	</div>	
								  </td>
								</tr>
								<tr>
								  <td><b>Cuotas</b></td><td>
								  	<select th:field="*{installments}">
								  		<option value="1">1</option>
								  		<option value="6" >6</option>
								  		<option value="12" >12</option>
								  	</select>
								  </td>
							    </tr>
								<tr>
								  <td><b>Nombre de establecimiento</b></td><td><input type="text" th:field="*{establishmentName}" value="Test"></input></td>
								</tr>
								<tr style="background: gray;">
								  <td><b>Datos Todopago</b></td>
								  <td></td>
								</tr>
								<tr>
							  	   <td><b>Merchant</b></td><td><input type="text" th:field="*{tpMerchant}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>Security</b></td><td><input type="text" th:field="*{tpSecurity}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>channel</b></td><td><input type="text" th:field="*{channel}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>Tipo de operacion</b></td><td><input type="text" th:field="*{operationType}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>Codigo de moneda</b></td><td><input type="text" th:field="*{currencyCode}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>Concepto</b></td><td><input type="text" th:field="*{concept}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td><b>Monto</b></td><td><input type="text" th:field="*{amount}"></input></td>
							  	</tr>
							  	<tr>
							  	   <td>
							  	         <b>Preselección de pago del usuario</b>
							  	   </td>
							  	   <td>
							  	   	<div class="left">
							  	   		<input type="text" th:field="*{buyerPreselectionMp}" id="preselectionmp" size="10"></input>
							  	   	</div>
							  	   	<div class="left">
							  	   		<input type="text" th:field="*{buyerPreselectionBank}" id="preselectionbank" size="10"></input>
							  	   	</div>
							  	   	<div class="clear">
							  	   		<div class="description">ejemplo: 1-17 (id medio de pago y id de banco)</div>
							  	   	</div>
							  	   </td>
							  	</tr>
							  	<tr>
							  	   <td><b>Medios de pago disponibles</b></td><td><input type="text" th:field="*{availablePaymentMethods}"></input>
							  	   	<div class="description">ejemplo: 1,2,3</div>
							  	   </td>
							  	</tr>
							  	<tr>
							  	   <td><b>Bancos disponibles</b></td><td><input type="text" th:field="*{availableEntities}"></input>
							  	   	<div class="description">ejemplo: 1,2,17 (Si no se envían datos se habilitan todos los bancos del usuario)</div>
							  	   </td>
							  	</tr>
							</tbody>
							<tfoot>
							  <tr>
								<td colspan="2"><a href="/" class="btn error site">Cancelar</a>&nbsp;&nbsp;&nbsp;<a href="create.php" onclick="$('#activeform').submit();return false;" class="btn site" id="send">Guardar</a></td>
							  </tr>
							</tfoot>
						</table>
					</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="footer">
	</div>
</div>
</body>
</html>
